<table>
  <thead>
    <tr><th>Město</th><th>Okres</th><th>Kdy film hrají</th></tr>
  </thead>
  <tbody>
    <tr><td>Bílina</td><td>Teplice</td><td>21,23 a 29.9</td></tr>
    <tr><td>Bílovec</td><td>Nový Jičín</td><td>11,12.10</td></tr>
    <tr><td>Benešov</td><td>Benešov</td><td>14 - 16.10</td></tr>
    <tr><td>Blansko</td><td>Blansko</td><td>24,25.9</td></tr>
    <tr><td>Boskovice</td><td>Blansko</td><td>28 - 30.9</td></tr>
    <tr><td>Brodek</td><td>Přerov</td><td>26.10</td></tr>
    <tr><td>Březnice</td><td>doplň okres</td><td>7.11</td></tr>
    <tr><td>Brandýs nad Labem</td><td>Praha - východ</td><td>14.11</td></tr>
    <tr><td>Bruntál</td><td>Bruntál </td><td>27.9 - 4.10</td></tr>
    <tr><td>Bystřice nad Olší</td><td>Frýdek - Místek</td><td>20.11</td></tr>
    <tr><td>České Meziříčí</td><td>Rychnov nad Kn.</td><td>17.10</td></tr>
    <tr><td>Česká Třebová</td><td>Ústí nad Orlicí</td><td>15.10</td></tr>
    <tr><td>Čerčany</td><td>Benešov</td><td>29.9</td></tr>
    <tr><td>Český Těšín</td><td>Karviná</td><td>1-2.10</td></tr>
    <tr><td>Česká Lípa</td><td>Česká Lípa</td><td>20 - 23.9</td></tr>
    <tr><td>Čáslav</td><td>Kutná Hora</td><td>20 - 21.9</td></tr>
    <tr><td>Červený Kostelec</td><td>Náchod</td><td>20.9</td></tr>
    <tr><td>Děčín</td><td>Děčín</td><td>20 - 23.9</td></tr>
    <tr><td>Dobruška</td><td>Rychnov nad Kněž.</td><td>21,22.9</td></tr>
    <tr><td>Dolní Cerekev</td><td>Jihlava</td><td>6.10</td></tr>
    <tr><td>Duchcov</td><td>Teplice</td><td>25 - 26. 9</td></tr>
    <tr><td>Dobřany</td><td>Plzeň</td><td>23.9</td></tr>
    <tr><td>Dvůr Králové nad Labem</td><td>Trutnov</td><td>22 - 23.9</td></tr>
    <tr><td>Frýdek - Místek</td><td>Frýdek - Místek</td><td>30.9</td></tr>
    <tr><td>Heřmanův Městec</td><td>Chrudim</td><td>29.9</td></tr>
    <tr><td>Havířov</td><td>Ostrava </td><td>20 - 23.9</td></tr>
    <tr><td>Hradec nad Moravicí</td><td>Opava</td><td>24.10</td></tr>
    <tr><td>Havlíčkův Brod</td><td>Havlíčkův Brod</td><td>1 - 4.10</td></tr>
    <tr><td>Hodonín</td><td>Hodonín</td><td>27 - 30.9</td></tr>
    <tr><td>Cheb</td><td>Cheb</td><td>20 - 23.9 a 27 - 30.9</td></tr>
    <tr><td>Chomutov</td><td>Choomutov</td><td>20 - 22.9</td></tr>
    <tr><td>Choceň</td><td>Ústí nad Orlicí</td><td>22 - 23.9</td></tr>
    <tr><td>Chodov</td><td>Sokolov</td><td>20 - 23.9</td></tr>
    <tr><td>Jirkov</td><td>Chomutov</td><td>20 - 22.9</td></tr>
    <tr><td>Jablonec nad Nisou</td><td>Jablonec nad Nisou</td><td>21,22.9</td></tr>
    <tr><td>Jihlava - (kino Dukla)</td><td>Jihlava</td><td>27.9 - 3.10</td></tr>
    <tr><td>Jevíčko</td><td>Svitavy</td><td>20.10</td></tr>
    <tr><td>Ivanovice na Hané</td><td>Vyškov</td><td>25.11</td></tr>
    <tr><td>Ivančice</td><td>Brno - venkov</td><td>3.10 a 7.10</td></tr>
    <tr><td>Jičín</td><td>Jičín</td><td>28 - 29.9</td></tr>
    <tr><td>Karlovy Vary</td><td>Karlovy Vary</td><td>20 - 23.9</td></tr>
    <tr><td>Kruh</td><td>Semily</td><td>6.10</td></tr>
    <tr><td>Krnov</td><td>Bruntál</td><td>20 - 23.9</td></tr>
    <tr><td>Krucemburk</td><td>Havlíčkův Brod</td><td>3.11</td></tr>
    <tr><td>Kralupy nad Vltavou</td><td>Mělník</td><td>20 - 22.9,24.9,27.9</td></tr>
    <tr><td>Kamenický Šenov</td><td>Česká Lípa</td><td>10 - 11.10</td></tr>
    <tr><td>Krupka</td><td>Teplice</td><td>15.10</td></tr>
    <tr><td>Kyselka</td><td>Karlovy Vary</td><td>1.12</td></tr>
    <tr><td>Kladno</td><td>Kladno</td><td>20-24.10,26,30.9,2.10</td></tr>
    <tr><td>Kosova Hora</td><td>Příbram</td><td>8.12</td></tr>
    <tr><td>Kadaň</td><td>Chomutov</td><td>20,2123 a 28.9</td></tr>
    <tr><td>Kolín</td><td>Kolín</td><td>20 - 23.9</td></tr>
    <tr><td>Karviná</td><td>Karviná</td><td>20 - 27.9</td></tr>
    <tr><td>Kutná Hora</td><td>Kutná Hora</td><td>20 - 21.9</td></tr>
    <tr><td>Krásná Lípa</td><td>Děčín</td><td>17.10</td></tr>
    <tr><td>Kyjov</td><td>Hodonín</td><td>22.9</td></tr>
    <tr><td>Klatovy</td><td>Klatovy</td><td>22 - 23.9</td></tr>
    <tr><td>Kopřivnice</td><td>Nový Jičín</td><td>20 - 22.9</td></tr>
    <tr><td>Lomnice nad Popelkou</td><td>Semily</td><td>26 -27.9</td></tr>
    <tr><td>Litomyšl</td><td>Svitavy</td><td>19 - 21.10</td></tr>
    <tr><td>Litvínov</td><td>Most</td><td>11 - 14.10</td></tr>
    <tr><td>Letohrad</td><td>Ústí nad Orlicí</td><td>31.10</td></tr>
    <tr><td>Lišov</td><td>České Budějovice</td><td>28.11</td></tr>
    <tr><td>Lanškroun</td><td>Ústí nad Orlicí</td><td>24 - 25.9</td></tr>
    <tr><td>Litoměřice</td><td>Litoměřice</td><td>20.923-25.9 a 30.9</td></tr>
    <tr><td>Louny</td><td>Louny</td><td>20 - 23.927 - 30.9</td></tr>
    <tr><td>Mohelnice</td><td>Šumperk</td><td>9.10</td></tr>
    <tr><td>Mělník</td><td>Mělník</td><td>28 - 29.10</td></tr>
    <tr><td>Mikulov</td><td>Břeclav</td><td>8.12</td></tr>
    <tr><td>Mladá Vožice</td><td>Tábor</td><td>24.11</td></tr>
    <tr><td>Milevsko</td><td>Písek</td><td>20.9</td></tr>
    <tr><td>Most</td><td>Most</td><td>20 - 26.9</td></tr>
    <tr><td>Náchod</td><td>Náchod</td><td>17 - 23.9</td></tr>
    <tr><td>Nové Město nad Metují</td><td>Náchod</td><td>22.9 a 30.9</td></tr>
    <tr><td>Nový Hrádek</td><td>Náchod</td><td>19.9</td></tr>
    <tr><td>Nové Město na Moravě</td><td>Žďár nad Sázavou</td><td>4.103.11</td></tr>
    <tr><td>Nový Bor</td><td>Česká Lípa</td><td>20 - 23.9</td></tr>
    <tr><td>Nová Paka</td><td>Jičín</td><td>21.11</td></tr>
    <tr><td>Nový Bydžov</td><td>Hradec Králové</td><td>3.10</td></tr>
    <tr><td>Neratovice</td><td>Mělník</td><td>20,21.10</td></tr>
    <tr><td>Nový Jičín</td><td>Nový Jičín</td><td>20 - 23.9</td></tr>
    <tr><td>Ostrov</td><td>Karlovy Vary</td><td>27 - 29.9</td></tr>
    <tr><td>Opava</td><td>Opava</td><td>9.106.1116 - 18.11</td></tr>
    <tr><td>Otrokovice</td><td>Zlín</td><td>4.10</td></tr>
    <tr><td>Orlová</td><td>Karviná</td><td>25 - 28.10</td></tr>
    <tr><td>Odry</td><td>Nový Jičín</td><td>21.11</td></tr>
    <tr><td>Praha - Radotín</td><td>Praha</td><td>20 a 26.9</td></tr>
    <tr><td>Písek</td><td>Písek</td><td>21 - 23.9</td></tr>
    <tr><td>Přerov</td><td>Přerov</td><td>27 - 30.9</td></tr>
    <tr><td>Praha - Modřanský biograf</td><td>Praha</td><td>25 - 26.9</td></tr>
    <tr><td>Počátky</td><td>Pelhřimov</td><td>22.9</td></tr>
    <tr><td>Plzeň - Lochotín</td><td>Plzeň</td><td>21.9</td></tr>
    <tr><td>Pacov</td><td>Pelhřimov</td><td>31.10</td></tr>
    <tr><td>Rožmitál pod Třemšínem</td><td>Příbram</td><td>13.11</td></tr>
    <tr><td>Rychnov nad Kněžnou</td><td>Rychnov nad Kn.</td><td>20.9</td></tr>
    <tr><td>Rožnov pod Radhoštěm</td><td>Vsetín</td><td>20 - 23.9</td></tr>
    <tr><td>Rumburk</td><td>Děčín</td><td>2122.9</td></tr>
    <tr><td>Sedlčany</td><td>Příbram</td><td>12,13.10</td></tr>
    <tr><td>Světlá nad Sázavou</td><td>Havlíčkův Brod</td><td>9.11</td></tr>
    <tr><td>Šebetov</td><td>doplň okres</td><td>14.12</td></tr>
    <tr><td>Šternberk</td><td>Olomouc</td><td>3.10</td></tr>
    <tr><td>Štětí</td><td>Litoměřice</td><td>20 - 23.9</td></tr>
    <tr><td>Semily</td><td>Semily</td><td>20 - 26.9</td></tr>
    <tr><td>Soběslav</td><td>Tábor</td><td>20,22.9</td></tr>
    <tr><td>Strakonice</td><td>Strakonice</td><td>20 - 23.9</td></tr>
    <tr><td>Suchdol nad Lužnicí</td><td>Jindřichův Hradec</td><td>5.10</td></tr>
    <tr><td>Sokolov</td><td>Sokolov</td><td>20 - 23.9</td></tr>
    <tr><td>Tanvald</td><td>Jablonec nad Nisou</td><td>21 a 22.9</td></tr>
    <tr><td>Trhová Kamenice</td><td>Chrudim</td><td>30.11</td></tr>
    <tr><td>Teplice</td><td>Teplice</td><td>20 - 23.9</td></tr>
    <tr><td>Třebíč</td><td>Třebíč</td><td>21 - 23.9</td></tr>
    <tr><td>Turnov</td><td>Semily</td><td>2728.9</td></tr>
    <tr><td>Trhové Sviny</td><td>České Budějovice</td><td>23,24.9</td></tr>
    <tr><td>Třeboň</td><td>Jindřichův Hradec</td><td>21,25.9</td></tr>
    <tr><td>Tábor</td><td>Tábor</td><td>24 - 26.9</td></tr>
    <tr><td>Třinec</td><td>Frýdek - Místek</td><td>20 - 23.9</td></tr>
    <tr><td>Tachov</td><td>Tachov</td><td>25.9</td></tr>
    <tr><td>Veselí nad Moravou</td><td>Hodonín</td><td>12.10</td></tr>
    <tr><td>Votice</td><td>Benešov</td><td>17.11</td></tr>
    <tr><td>Valašské Meziříčí </td><td>Vsetín</td><td>20 - 23.9</td></tr>
    <tr><td>Velký Týnec</td><td>Olomouc</td><td>23.11</td></tr>
    <tr><td>Vyškov</td><td>Vyškov</td><td>25.9</td></tr>
    <tr><td>Varnsdorf</td><td>Děčín</td><td>20 - 22.9</td></tr>
    <tr><td>Vsetín</td><td>Vsetín</td><td>24 - 26.9</td></tr>
    <tr><td>Velešín</td><td>Český Krumlov</td><td>22.9</td></tr>
    <tr><td>Velké Opatovice</td><td>Blansko</td><td>19.10</td></tr>
    <tr><td>Vodňany</td><td>Strakonice</td><td>22.10</td></tr>
    <tr><td>Ústí nad Orlicí</td><td>Ústí nad Orlicí</td><td>23.10</td></tr>
    <tr><td>Zábřeh</td><td>Šumperk</td><td>24.9</td></tr>
    <tr><td>Zlín (Golden Apple)</td><td>Zlín</td><td>20.9 - 3.10</td></tr>
    <tr><td>Žatec</td><td>Louny</td><td>21.9</td></tr>
    <tr><td>Žďá nad Sázavou</td><td>Žďár nad Sázavou</td><td>27 - 29.9</td></tr>
  </tbody>
</table>
