-title "Bastardi - Naši partneři"
-description "Děkujeme všem partnerům."
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h2.partner_section Generální partner
%br
%h2.partner_section Partneři
%br
%h2.partner_section Mediální partneři
