-title "Bastardi - Naši partneři"
-description "Děkujeme všem partnerům."
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h2.partner_section Partneři
%ul.partners
  %li
    %a{:target => '_blank', :href => 'http://www.klenotyaurum.cz'} Klenoty Aurum
  %li
    %a{:target => '_blank', :href => 'http://www.motelskalka.cz'} Motel Skalka
  %li
    %a{:target => '_blank', :href => 'http://www.gurmania-pruhonice.cz'} Restaurace Gurmania
  %li
    %a{:target => '_blank', :href => 'http://www.mandisan.cz'} Mandisan
  %li
    %a{:target => '_blank', :href => 'http://www.penzion-klidek.cz'} Penzion Klídek
  %li
    %a{:target => '_blank', :href => 'http://www.eurona.cz'} Eurona, s r. o.
  %li
    %a{:target => '_blank', :href => '#'} Zahradnictví Roušar
  %li
    %a{:target => '_blank', :href => 'http://www.dentimed.cz'} Dentimed, s. r. o.
  %li
    %a{:target => '_blank', :href => 'http://www.stil.cz/papirnictvi-subert-spol-sro'} Papírnictví Šubert, s. r. o. Náchod
  %li
    %a{:target => '_blank', :href => 'http://www.peko-pekarna.cz'} PEKO spol. s r. o.
  %li
    %a{:target => '_blank', :href => '#'} Řeznictví a uzenářství Vítek
  %li
    %a{:target => '_blank', :href => 'http://www.promareha.cz'} Proma Reha s. r. o.
%ul.partners
  %li
    %a{:target => '_blank', :href => 'http://www.dodavky.com'} Dodávky.com
  %li
    %a{:target => '_blank', :href => 'http://www.cdsnachod.cz'} CDS Náchod s. r. o., Náchod
  %li
    %a{:target => '_blank', :href => 'http://www.hsflamingo.cz'} HS Flamingo s. r. o.
  %li
    %a{:target => '_blank', :href => 'http://www.haspl.cz'} Hašpl a. s.
  %li
    %a{:target => '_blank', :href => 'http://www.svetluska.cz'} Světluška, s r. o.
  %li
    %a{:target => '_blank', :href => 'http://firma.kofola.cz'} Kofola a. s.
  %li
    %a{:target => '_blank', :href => 'http://www.umago.cz'} Ubytování v soukromí na samotě – Milan Magnusek
  %li
    %a{:target => '_blank', :href => '#'} Nadační fond Ing. Petra Pakosty
  %li
    %a{:target => '_blank', :href => '#'} Poslankyně Soňa Marková
  %li
    %a{:target => '_blank', :href => '#'} Šárka a Jan Birke
  %li
    %a{:target => '_blank', :href => '#'} Železářství Soukup
  %li
    %a{:target => '_blank', :href => 'http://www.vaskamelot.cz'} Východočeský Kamelot
