- title "Bastardi - Tvůrci českého filmu"
- description "Tomáš Magnusek, Milan Hodek, Wek Mack"
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });

%table.tvurci
  %tr
    %th Režie, scénář, střih
    %td :
    %td Tomáš Magnusek
  %tr
    %th Kamera, střih
    %td :
    %td Milan Hodek
  %tr
    %th Hudba
    %td :
    %td Wek Mack, Michal Dvořáček, Tomáš Kahl
